.container-fluid {
  font-family: Arial, Verdana, sans-serif;
  font-weight: medium;
  font-size: 18px;
  width: 800px !important;
  height: 900px !important;
  padding-left: 25px !important;
  margin-left: -190px !important;
  float: left;
}
#form-group {
  margin: 30px 0px 30px 0px !important;
  font-size: 24px !important;
  width: 750px !important;
}

 .form-group1, .form-group2, .form-group3{
  padding-left: 47px !important;
}

#name1, #name2{
  padding: 20px 0px 20px 50px !important;
  text-align: left;
  width: 650px !important;
  height: 5px !important;
}
#description{
  padding: 0px 170px 150px 50px !important;
  font-style: italic;
  width: 700px !important;
  height: 200px !important;
}
#submitbutton_position{
  float: right !important;
  margin-right: 15px;
}
  .author, .submittedby, .description {
  text-align: left !important;
  font-size: 18px !important;

}
