<div class="container-fluid">
  <div class='container'>
<app-entry-form class = "formUnit" (mEntry)='addnewentry($event)'></app-entry-form>
</div>
</div>

<div class="container-fluid">
  <div class='container-log'>
    <h1 class="text"><b>Quote log:</b></h1>
<ul>

  <li *ngFor = "let singleQuote of quotes">
    <div class="row">
      <div class="col-sm">
      <q>{{singleQuote.quote}}</q>
      </div>
      <div class="col-sm">
       <app-detail [mEntry]='singleQuote'></app-detail>
       </div>
       </div>
   </li>
</ul>
</div>
</div>
