<div class="container-fluid">
  <div class='container'>
<app-entry-form class = "formUnit" (mEntry)='addnewentry($event)'></app-entry-form>
</div>
</div>

<div class="container-fluid">
  <div class='container-log'>
    <h1 class="text"><b>Quote log:</b></h1>
<ul>

  <li *ngFor = "let singleQuote of quotes;let i=index">
    <div class="row">
      <div class="col-position">
      <q>{{singleQuote.quote}}</q>
      </div>
      <button (click) ="delete(i)" class="btn">delete</button>
      <div class="col">
       <app-detail [mEntry]='singleQuote'></app-detail>
       </div>
       </div>
   </li>
</ul>
</div>
</div>
