.container-log {
  /* background-color: hotpink; */
  font-size: 18px;
  float: right;
  margin: -850px 70px auto 50px;
}
.text-center{
  margin-left: 290px;
  text-decoration: underline;
}
.col-position{
  margin-right: -190px;
  margin-top: 5px;
}
.btn{
  margin-top: 200px ;
  margin-right: -50px;
  background-color: red;
  font-size: 18px;
}
