<div class="container-fluid">
  <h2 class="text-center">Create a new Goal</h2>
  <hr>
    <form (ngSubmit)='addnewentry()' #goalForm='ngForm'>
      <div class="form-group1"   id="form-group">

          <label for="name">Author:</label><br />
          <input type="text" class="form-control author" id="name1" [(ngModel)]="author" name="author"  required>

      </div>

      <div class="form-group2" id="form-group">

          <label for="name">Submitted By:</label><br />
          <input type="text" class="form-control submittedby" id="name2" [(ngModel)]="submitted_by" name="submitted_by"  required>

      </div>

      <div class="form-group3"  id="form-group">

          <label for="description" id="description_position">Quote:</label><br />
          <textarea class="form-control description" id="description" rows="4" [(ngModel)]="new_quote" name="new_quote"  required></textarea>

      </div>


      <button type="submit" class="btn btn-success" id="submitbutton_position">Add Goal</button>
  </form>
</div>
